<div class="profile-container">
  <div class="profile-top-section">
    <div class="profile-header-section">
    </div>
    <div class="profile-avatar">
      <% if current_user[:photo] != nil  %>
      <%= cl_image_tag current_user.photo, height: 190, width: 190, class: 'circle-border' %>
      <% else %>
      <%= image_tag "student_avatar.png", height: 190, width: 190, class: 'circle-border' %>
      <% end %>
      <%= link_to edit_profile_pic_path do %>
      <p style ="padding-top: 10px"> <i class="far fa-edit"> </i> </p>
      <% end %>
    </div>
    <div class="profile-name text-center">
      <p><%= current_user.first_name %> <%=current_user.last_name %> <%= link_to edit_first_name_path do %> <i class="far fa-edit"></i> <% end %></p>
    </div>
    <div class="profile-name text-center">
      <p><%= current_user.email %>  <%= link_to edit_email_path do%> <i class="far fa-edit"></i> <% end %></p>
    </div>
    <div class="profile-bio-head text-center">
      <p> <strong> Bio </strong><%= link_to edit_bio_path do %><i class="far fa-edit"></i> <% end %> </p>
    </div>
    <div class="profile-bio text-center">
      <p><%= current_user.bio %> </p>
    </div>
  </div>
  <div class="profile-lower-section">
  </div>
  <div class="profile-dashboard-summary">
    <div class="profile-edit-btn text-center">
    </div>
  </div>
  <div class="footer-section">
     <div class="profile-back-btn">
     </div>
     <div class="profile-home-btn">
     </div>
  </div>
</div>

