<h1> <%= current_user.first_name %> </h1> <%= link_to 'edit', edit_first_name_path %>
<h2><%= current_user.last_name %></h2> <%= link_to 'edit', edit_last_name_path %>
<h2><%= current_user.email %></h2> <%= link_to 'edit', edit_email_path %>
<h2><%= current_user.bio %></h2> <%= link_to 'edit', edit_bio_path %>
<h2><%= cl_image_tag current_user.photo, height: 40, width: 40 %></h2> <%= link_to 'edit', edit_profile_pic_path %>
