<div class="navbar-wagon navbar-inverse">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "unitix-navbar-logo.png", height: 70 %>
    <%= image_tag "unitix_logo.png", class: 'unitix-logo-name', height: 30 %>
  <% end %>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Buy Tickets", events_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Sell Tickets", new_ticket_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Help", about_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <% if current_user[:photo] != nil  %>
          <div class="navbar-wagon-item">

            <div class="dropdown" id="menu-trigger">
              <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" id="menu-drop-down">
              <li>
                <%= link_to "Dashboard", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
              </li>
              <li>
                <%= link_to "Profile", profile_path, class: "navbar-wagon-item navbar-wagon-link" %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  Sign Out
                <% end %>
              </li>
            </ul>
            </div>

          </div>

      <% else %>
          <div class="navbar-wagon-item">

            <div class="dropdown" id="menu-trigger">
              <%= image_tag "student_avatar.png", class: "avatar dropdown-toggle", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" id="menu-drop-down">
              <li>
                <%= link_to "Dashboard", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
              </li>
              <li>
                <%= link_to "Profile", profile_path, class: "navbar-wagon-item navbar-wagon-link" %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
            </div>

          </div>
      <%end %>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Buy tickets", events_path, class: "navbar-wagon-item navbar-wagon-link" %>
       <%= link_to "Sell Tickets", new_ticket_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Help", about_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown" id="mobile-trigger">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" id="mobile-drop-down">
        <li>
          <%= link_to "Sell Tickets", new_ticket_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <% if user_signed_in? %>
         <li>
          <%= link_to "Dashboard", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
            <%= link_to "Profile", profile_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<script>

  const trigger = document.getElementById("menu-trigger");
  const menu = document.getElementById("menu-drop-down");

  trigger.addEventListener("mouseover", () => {
   menu.style.display = "block";
    }

  );

   menu.addEventListener("mouseout", () => {
   if (menu.style.display == "block")
    menu.style.display = "none";
    }

  );

  const mobtrigger = document.getElementById("mobile-trigger");
  const mobmenu = document.getElementById("mobile-drop-down");

  mobtrigger.addEventListener("mouseover", () => {
      mobmenu.style.display = "block";
    }

  );

  mobmenu.addEventListener("mouseout", () => {
   if (mobmenu.style.display == "block")
    mobmenu.style.display = "none";
    }

  );

</script>
