
<div class="create-container">
  <div class="title-holder">

    <h3 class="list-ticket-title text-center">List a ticket</h3>
  </div>

  <%= simple_form_for event do |e| %>

  <div class="content-holder">

    <div class="form-100">
      <%= e.input :name, label: 'Event Name', placeholder: 'Name of event' %>
    </div>

    <div class="form-100">
      <div class="location-pin">
      </div>
      <%= e.input :address, placeholder: 'City', label: 'Where' %>
    </div>

    <div class="form-100">
      <div class="date-style">

        <%= e.input :date_and_time, as: :date, label: 'When' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-70">
        <div class="flex-row">
          <%= e.input :category, collection: ["Club night","Concert","Festival","Travel","Sport","Society","Socials"], label: 'Type' %>
        </div>
      </div>

      <%= e.simple_fields_for :ticket do |t| %>
      <div class="form-30">
        <%= t.input :price, placeholder: '£', label: 'Price' %>
      </div>
    </div>

    <div class="form-row">
      <div class="flex-row">
        <%= t.input :description, label: 'Description', id: 'form-description' %>
      </div>
    </div>


    <div class="form-row">
      <div class="flex-row">
        <div class="photo-row">
          <%= t.input :photo, as: :file, label: 'Upload Ticket' %>
        </div>
      </div>
    </div>

  </div>



  <div class="btns-holder">
    <div class="done-btn">
      <%= e.submit "List Ticket", class: 'done-btn' %>
    </div>
  </div>

</div>
<% end %>
<% end %>

<!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<!-- Initialize autocomplete menu -->
<script>
var client = algoliasearch('34J3CD22N1', 'a3c9a51b10d2e20663956f322782527f');
var index = client.initIndex('Event');
//initialize autocomplete on search input (ID selector must match)
autocomplete('#event_name', { hint: false }, {
  source: autocomplete.sources.hits(index, { hitsPerPage: 5 }),
  //value to be displayed in input control after user's suggestion selection
  displayKey: 'name',
  //hash of templates used when rendering dataset
  templates: {
    //'suggestion' templating function used to render a single suggestion
    suggestion: function(suggestion) {
      return '<span>' +
        suggestion._highlightResult.name.value ;
    }
  }
});

</script>

