<div class="add-navbar-padding">

  <div class="search-bar-query-container">
    <h1 class='buy-sell-tickets-header'>Find your event, cop a ticket in seconds! <i class="far fa-smile"></i></h1>

    <%= form_tag(events_path(params[:search]), method: 'get', class: 'events-search-bar') do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by name / city / category...", class: "form-control algolia-search search", :onchange => "this.form.submit();"%>
    <% end %>
  </div>

  <div class="container-upcoming-events">

    <div class="container-header-section">
      <div class="container-header-text">
        <span class="results-query">
        <% if params[:search].blank? %>
          <i class="fas fa-eye", style='padding-right: 10px;'></i> Take a peek
        </span>
        <span class="results-location-query">
        <% else %>
          <i class="fas fa-eye", style='padding-right: 10px;'></i>Take a peek at results for
        <strong><%= params[:search]%></strong>
        </span>
        <% end %>
      </div>
    </div>

    <% @events.each do |event| %>

    <div class="container-body">
      <div class="event-grouped-container">
        <div class="event-group-unique">
          <div class="event-date">
            <div class="event-date-container">
              <div class="date-event-day">
                <%= event.date_and_time.strftime('%a') %>
              </div>
              <div class="date-event-month-date">
                <%= event.date_and_time.strftime('%d %b') %>
              </div>
            </div>
          </div>

          <div class="event-description">
            <div class="event-description-container">
              <div class="event-link-to-show-page">
                <div class="display-flex">
                <p><%= link_to event.name, event_path(event.id) %> </p>
                  <p class="<%= colour_filter(event.category) %>"><%= event.category %></p>
                </div>
              </div>
              <div class="event-details">
                <%= event.address %>
              </div>
            </div>
          </div>

        <div class="event-watch">
          <div class="event-watch-container">
            <div class="event-watch-bookmark-toggle">

              <%= link_to event_watchlists_path(event), method: :post  do %>

                <div class="heart <%= 'heart-clicked' if !@watchlists.where(event: event).first.blank? %>"></div>
              <% end %>
            </div>
          </div>
        </div>


        <div class="event-price">
          <div class="cop-it">
            <% if event.quantity <= 0 %>
            <% else %>
            cop it
            <% end %>
          </div>
          <div class="price">
            <% ticket_price_array = [] %>
            <% event.tickets.each do |ticket| %>
              <% if ticket.sold == false  %>
                <% ticket_price_array << ticket.pricing %>
              <% end %>
            <% end %>
            <% if ticket_price_array.count >= 1 && event.quantity > 0 %>
            <strong>£<%= ticket_price_array.min.to_i ==  ticket_price_array.min.to_f ? ticket_price_array.min.to_i : ticket_price_array.min.to_f %></strong>
            <% else %>
            <% end %>
          </div>
          <div class="events-left">
            <% if event.quantity <= 0 %>
            <p class="sold-out-text"> Sold out </p>
            <% else %>
            <%= event.quantity %> tix left
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <% end %>
  </div>
</div>

<!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

<%= javascript_pack_tag "event-index" %>
<%= javascript_pack_tag "ticket-search" %>
<%= javascript_pack_tag "active-button-buy" %>
