
<div class="show-ticket-container">
  <div class="banner-venue">
    <div class="tickets-for-event-text">

      <h1 class='space-around-text'><%= @event.name %></h1>
      <p>
        <i class="fas fa-calendar-alt" style="
    padding: 5px 40px;"> <%= @event.date_and_time.strftime('%a %d %b').upcase %> </i>
        <i class="fas fa-map-marker"> <%= @venue %>, <%= @event.city %> </i>
      </p>
    </div>

      <div class="available-tickets-text">
        <% if @event.quantity == 0 %>
        <p>Sorry, there are no tickets currently available! </p>
        <% elsif @event.quantity == 1 %>
        <p>Only <strong><%= @event.quantity %></strong> ticket remaining!</p>
        <% else %>
        <p>There are <strong><%= @event.quantity %></strong> tickets for this event remaining.</p>
        <% end %>
      </div>


    <% if @event.quantity == 0 %>
    <p class="available-tickets-text">Bookmark the event to be notified when tickets are available</p>

    <% else %>
    <div class="container-upcoming-tickets">
      <% @tickets.each do |ticket| %>
      <!-- if the current user is the ticket lister, we display it but don't make it a link -->
      <% if current_user != ticket.user %>
      <%= link_to ticket_bookings_path(ticket.id), method: :post do %>
      <%= render 'ticket_row', ticket: ticket, myclass: '' %>
      <% end %>
      <% else %>
      <%= render 'ticket_row', ticket: ticket, myclass: 'own-ticket' %>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>



<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
<%= javascript_pack_tag "map" %>

<%= javascript_pack_tag "event-show" %>
