
<div class="show-ticket-container">
  <div class="banner-venue">
    <div class="tickets-for-event-text">

      <h2 class='space-around-text green'><%= @event.name.capitalize %></h2>
        <i class="fas fa-calendar-alt"></i><strong><%= @event.date_and_time.strftime('%a %d %b %Y').upcase %></strong>
        <i class="fas fa-map-marker"></i><strong><%= @venue %>, <%= @event.city %></strong>
    </div>

    <% if @event.date_and_time > Time.now - (24/24) %>

      <div class="available-tickets-text">
        <% if @event.quantity == 0 %>
        <p class='darkgray'>Oh no! Sorry there are no tickets currently available! <i class="far fa-frown"></i></p>
        <% elsif @event.quantity == 1 %>
        <p class='indianred'>Be quick! Only <strong><%= @event.quantity %></strong> ticket remaining!</p>
        <% elsif @event.quantity > 1 && @event.quantity <= 3%>
        <p class='indianred'>Hurry! There are only <strong><%= @event.quantity %></strong> tickets for this event remaining.</p>
        <% else %>
        <p class='cadetblue'>Woohoo! There are <strong><%= @event.quantity %></strong> tickets for this event remaining.</p>
        <% end %>
      </div>

      <% else %>

      <div class="event-expired-show indianred">
        <h4>This event has expired</h4>
      </div>

    <% end %>


    <% if @event.quantity == 0 %>
    <p class="available-tickets-text darkgray">Bookmark the event to see when tickets become available</p>

    <% else %>
    <div class="container-upcoming-tickets">
      <% @tickets.each do |ticket| %>
      <!-- if the current user is the ticket lister, we display it but don't make it a link -->
      <% if current_user != ticket.user %>
      <%= render 'ticket_row', ticket: ticket, myclass: '' %>
      <% else %>
      <%= render 'ticket_row', ticket: ticket, myclass: 'own-ticket' %>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>



<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
<%= javascript_pack_tag "map" %>
<%= javascript_pack_tag "event-show" %>
<% if params[:redirect_success] == "true" %>
  <%= javascript_pack_tag "sweet-alert" %>
<% end %>


<%= javascript_pack_tag "active-button-buy" %>
