<!-- PURCHASES -->

<% unless @number_purchases <= 0 %>
<section class="dashboard-main-section dashboard-hidden">
  <section class="dashboard-primary-section">
    <div class="dashboard-containers">

      <div class="container-upcoming-dashboards" >
        <div class="container-header-section">
          <div class="container-header-text">
            <span class="results-query">
              Here are your purchases
            </span>
            <span class="results-location-query" >
              <strong><%=  @current_user.first_name.capitalize %></strong>
            </span>

          </div>
        </div>

        <% @bookings.each do |booking| %>

        <div class="container-body">
          <div class="dashboard-grouped-container">
            <div class="dashboard-group-unique">
              <div class="dashboard-left">
                <div class="dashboard-left-container">
                  <a href="<%= booking.ticket.photo  %>" class="far fa-file fa-4x" download ></a>
                  <%= link_to ticket_file_path(photo: booking.ticket.photo )  do %>
                  <div class="text-center view-text-ticket">
                    <%= link_to "view", booking.ticket.photo.url %>
                  </div>
                  <%end %>
                </div>
              </div>

              <div class="dashboard-description">
                <div class="dashboard-description-container">
                  <div class="dashboard-link-to-show-page">
                    <%= link_to event_path(booking.ticket.event_id) do %>
                    <p><%= booking.ticket.event.name %> @ <%= booking.ticket.event.address %></p>
                    <% end %>
                  </div>
                  <div class="dashboard-details">
                    <p><strong><%=booking.ticket.event.date_and_time.strftime('%a %d %b') %></strong></p>
                    <p><%= booking.ticket.description %></p>
                  </div>
                </div>

              </div>


              <div class="dashboard-price">

                <div class="price-at">
                  Bought for
                </div>
                <div class="price">
                  <%= humanized_money_with_symbol(booking.ticket.pricing) %>
                </div>
                <div class='booking-ticket-date'>on <%=booking.ticket.created_at.to_date.strftime('%b %d')%></div>

              </div>
              <%end%>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</section>

<% else %>

<div class="dashboard-main-section dashboard-hidden">
  <div class="no-dashboard-info-container">
    <p>You have no tickets <strong> <%= @current_user.first_name.capitalize%></strong></p>
  </div>
</div>

<% end %>

