<!-- WATCHLIST -->

<% unless @number_watching <= 0 %>
<section class="dashboard-main-section dashboard-hidden">
  <section class="dashboard-primary-section">
    <div class="dashboard-containers">

      <div class="container-upcoming-dashboards">
        <div class="container-header-section">
          <div class="container-header-text">
            <span class="results-query">
              <i class="fas fa-heart" style= 'color:red; padding-right: 10px;'></i>
              Keep an eye on your saved events
            </span>

          </div>
        </div>

        <% @watchlists.each do |watch|  %>
        <div class="container-body">
          <div class="dashboard-grouped-container">
            <div class="dashboard-group-unique">
              <div class="dashboard-left">
                <div class="dashboard-left-container">
                  <div>
                    <p class='date-event-day'><%= watch.event.date_and_time.strftime('%a').upcase %></p>
                    <p class='date-event-month-date'><%= watch.event.date_and_time.strftime('%d %b') %></p>
                  </div>
                </div>
              </div>

              <div class="dashboard-description">
                <div class="dashboard-description-container">
                  <div class="dashboard-link-to-show-page">
                    <p><%= link_to watch.event.name.capitalize, event_path(watch.event_id) %></p>
                  </div>
                  <div class="dashboard-details">
                    <p><%= watch.event.address %></p>
                  </div>
                </div>

              </div>

              <div class="dashboard-price">
                <div class="cop-it">
                  <% if watch.event.quantity <= 0 || watch.event.date_and_time < Time.now - (24/24)%>
                  <% else %>
                  cop it
                  <% end %>

                </div>
                <div class=" price">
                  <% ticket_price_array = [] %>
                  <% watch.event.tickets.each do |ticket| %>
                    <% if ticket.sold == false && watch.event.date_and_time > Time.now - (24/24) %>
                      <% ticket_price_array << ticket.pricing %>
                    <% end %>
                  <% end %>
                  <% if ticket_price_array.count >= 1 && watch.event.quantity > 0 %>
                  £<strong><%= ticket_price_array.min %></strong>
                  <% else %>
                  <% end %>
                  <div class="events-left">
                    <% if watch.event.quantity <= 0 %>
                    <p class="sold-out-text"> Sold out </p>
                    <% elsif watch.event.date_and_time < Time.now - (24/24) %>
                    <p class='sold-out-text'>Expired</p>
                    <% else %>
                    <p><%= watch.event.quantity %> tix left</p>
                    <% end %>
                  </div>

                </div>
              </div>
              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</section>

<% else %>

<div class="dashboard-main-section dashboard-hidden">
  <div class="no-dashboard-info-container">
    <p>You have no saved events <strong> <%= @current_user.first_name.capitalize%></strong></p>
  </div>
</div>

<% end %>








