<!-- LISTINGS -->
<% unless @number_listings <= 0 %>
<section class="dashboard-main-section">
  <section class="dashboard-primary-section">
    <div class="dashboard-containers">

      <div class="container-upcoming-dashboards">
        <div class="container-header-section">
          <div class="container-header-text">
            <span class="results-query">
              Here are your listings
            </span>
            <span class="results-location-query">
              <strong><%=  @current_user.first_name.capitalize %></strong>
            </span>

          </div>
        </div>

        <% @tickets.each do |ticket| %>

        <div class="container-body">
          <div class="dashboard-grouped-container">
            <div class="dashboard-group-unique">
              <div class="dashboard-left">
                <div class="dashboard-left-container">
                  <div>
                    <p class='posted-on-text'>Posted on <%=ticket.created_at.to_date.strftime('%d %b')%> </p>
                  </div>
                </div>
              </div>

              <div class="dashboard-description">
                <div class="dashboard-description-container">
                  <div class="dashboard-link-to-show-page">
                    <%= link_to event_path(ticket.event_id) do  %>
                    <p><%= ticket.event.name %> @ <%= ticket.event.address %></p>
                    <% end %>
                  </div>
                  <div class="dashboard-details">
                    <p><%= ticket.description %></p>
                  </div>
                </div>

              </div>


              <div class="dashboard-price">
                <div class="price-at">
                  Listed at
                </div>
                <div class="price">
                  <p>£<%= ticket.price %></p>
                </div>
                <%= link_to '', ticket_no_display_path(ticket.id), method: 'post', class: "fas fa-trash-alt", data: {confirm: "Remove from Dashboard? This will not delete your ticket listing"} %>

              </div>

            </div>
          </div>
        </div>

        <% end %>

      </div>

    </div>
  </section>
</section>

<% else %>

<div class="dashboard-main-section">
  <div class="no-dashboard-info-container">
    <p>You have no listings, <strong> <%=  @current_user.first_name.capitalize %></strong></p>
  </div>
</div>

<% end %>
