<%= render 'dashboard_nav' %>

<div class="dashboard-tabs">
  <a class="dashboardtab active" id="listings-tab" href="#listings-list">
    <div class="dashboard-tab-text">
      <h3><%= @number_listings %></h3>
      <p>Listings</p>
    </div>
  </a>
  <a class="dashboardtab" id="bookings-tab" href="#purchases-list">
    <div class="dashboard-tab-text">
      <h3><%= @number_purchases %></h3>
      <p>Purchased</p>
    </div>
  </a>
  <a class="dashboardtab" id="watching-tab" href="#watching-list">
    <div class="dashboard-tab-text">
      <h3> <%= @number_watching %></h3>
      <p>Watching</p>
    </div>
  </a>
</div>

<!-- PURCHASES -->

<%= render 'dashboard-purchases' %>

<!-- LISTINGS -->

<%= render 'dashboard-listings' %>

<!-- WATCHLIST -->

<%= render 'dashboard-watching', watchlists: @watchlists %>

<%= javascript_pack_tag "dashboard" %>







