<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.5) 50%), url('https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b5ecaef0464fc50a866e74a6176c3fdc&auto=format&fit=crop&w=1650&q=80');">

  <div class="banner-content-container">
    <div class="banner-content">
      <p>
        <span id="banner-typed-text"></span>
      </p>


      <div class="banner-search">
        <p>
          <%= form_tag events_path, method: :get, class: 'form-inline search-form' do %>
          <div class="search-bar-position">
            <%= text_field_tag :search,
            params[:search],
            class: "form-control algolia-search",
              placeholder: "Know your event?"
              %>
          </div>
        </p>

        <%= submit_tag("Search", class: 'btn btn-primary btn-home-search', id: 'search-button') %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="event-index-container event-index-layout">
  <h2>Popular Locations</h2>
  <div class="cards-home-container">
    <div class="row">
      <% @cities.each do |city| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <%= link_to events_path(search_city: city) do %>
            <div class="event-index-card-by-venue" style="background-image: url(<%= cl_image_path city_picture(city), crop: :fill; %>)"><%= city %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>


  <h2>Categories</h2>
  <div class="cards-home-container">
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <%= link_to events_path(search_category: category) do %>
            <div class="event-index-card-by-venue" style="background-image: linear-gradient(-250deg, rgba(0,0,0,0.6) 31%, rgba(0,0,0,0.4) 85%), url(<%= cl_image_path category_picture(category) %>)" ><%= category %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa fa-heart"></i>
    <span class='footer-text'>UniTix © Ben, Amresh, Cheryl 2018</span>
  </div>
</div>

 <!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

 <%= javascript_pack_tag "typejs" %>
 <%= javascript_pack_tag "ticket-search" %>



