<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="sign-up-container">
    <div class="sign-up-text-container">
      <h2 class='sign-up-text'>Upload a Profile Pic</h2>
    </div>
    <div class="form-inputs">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :photo, label: 'Profile Photo' %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    </div>


    <div class="form-row">
      <div class="form-50">
        <div class="form-actions" style="margin-left: 15px;">
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>




