<div class="add-navbar-padding">
  <div class="new-ticket-container">
    <% if current_user[:photo] == nil  %>
       <%= render 'edit_form' %>
    <% else %>
    <% if @ticket.errors.any? %>
      <ul>
        <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_tag(new_ticket_path, method: 'get', class: 'list-ticket-form') do %>
    <%= text_field_tag :search_event, params[:search_event], placeholder: "Check if your event exists...", class: "form-control algolia-search", :onchange => "this.form.submit();" %>
    <% end %>

    <h6><%= link_to "Can't Find Your Event?", new_event_path %></h6>

    <div class="search-results">
      <% if @events != nil %>
      <div class="row">
        <% @events.each do |event| %>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="event-card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.5) 50%), url(<%= cl_image_path(event.photo_file, crop: :fill, ) %>)">
            <div class="event-text">
              <h4><strong><%= event.name %></strong> @ <%= event.city %></h4>
              <h5><%= event.date_and_time.strftime('%a %d %b %Y') %></h5>
              <p><%= link_to " (My event is on another date)", new_event_path(content: "hello") %></p>

              <% if event.quantity <= 0 %>
                <p>Tickets for this event have sold out!</p>
              <% elsif event.quantity == 1 %>
                <p><%= event.quantity %> ticket is currently
                listed at
              <% ticket_price_array = [] %>
                <% event.tickets.each do |ticket| %>
              <% ticket_price_array << ticket.price %>
              <% end %>
              <% if ticket_price_array.count >= 1 && event.quantity != 0 %>
              £<strong><%= ticket_price_array.min %></strong></p>
              <% end %>
              <% else %>
              <p><%= event.quantity %> tickets are currently listed,</p>
              lowest starting at
              <% ticket_price_array = [] %>
                <% event.tickets.each do |ticket| %>
              <% ticket_price_array << ticket.price %>
              <% end %>
              <% if ticket_price_array.count >= 1 && event.quantity > 0 %>
              £<strong><%= ticket_price_array.min %></strong></p>
              <% end %>
              <% end %>
            </div>

            <%= render 'list_ticket_form', event: event, ticket: @ticket %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


<!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>

<%= javascript_pack_tag "ticket-search" %>


